body {
    background-color: #ffffff;
}
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1e2125;
    z-index: 100;
}
/* Отступ для контента, чтобы он не заходил под меню */
.main-content {
    margin-left: 250px;
    padding: 40px;
}
.nav-link.active-custom {
    background-color: #2f6bf2 !important;
    color: white !important;
    border-radius: 6px;
}
/* Кастомные стили для ссылок */
.nav-link-custom {
    color: #adb5bd;
    padding: 10px 15px;
}
.nav-link-custom:hover {
    color: white;
    background-color: rgba(255,255,255,0.05);
    border-radius: 6px;
}
/* Принудительно поднимаем выпадающее меню вверх над кнопкой пользователя */
.dropup .dropdown-menu.show {
    top: auto !important;
    bottom: 100% !important;
    margin-bottom: 10px !important;
}
